{
  "SPEED_LIST_COUNT": 2000,
  "ACCELERATION": 380,
  "STARTSPEED": 60,
  "TURN_SPEED_MIN": 20,
  "TURN_SPEED_MAX": 200,
  "LIGHTCAL_CONF": "apollo.cal",
  "Motor": {
    "Lmotor": {
      "port": "A",
      "positive_direction": "COUNTERCLOCKWISE"
    },
    "Rmotor": {
      "port": "C",
      "positive_direction": "COUNTERCLOCKWISE"
    },
    "LMmotor": {
      "port": "B"
    },
    "RMmotor": {
      "port": "D"
    }
  },
  "Gyro": {
    "gyro": {
      "port": "S4",
      "direction": "CLOCKWISE"
    }
  },
  "LightSensor": {
    "Llight": {
      "port": "S2"
    },
    "Rlight": {
      "port": "S1"
    }
  },
  "MenuSelector": {
    "menuSelector": {
      "port": "S3",
      "colorList": [
        "MAGENTA",
        "BLUE",
        "RED",
        "GREEN",
        "WHITE"
      ]
    }
  },
  "UseMenuSelector": true,
  "DriveBaseFull": {
    "drive": {
      "Lmotor": "Lmotor",
      "Rmotor": "Rmotor",
      "gyro": "gyro",
      "diameter": 56,
      "track": 104,
      "runButton": null,
      "Llight": "Llight",
      "Rlight": "Rlight"
    }
  },
  "menu": {
    "runs": [
      "powerPlantRun",
      "windmillRun",
      "solarRun",
      "oilRun",
      "toyRun"
    ],
    "left": [
      null,
      null,
      null,
      null,
      null
    ],
    "utility": [
      "drive.lightCal",
      "gyro.calibrate",
      "drive.tyreClean",
      "drive.blank"
    ],
    "utility_name": [
      "LightCal",
      "gyroCal",
      "tyreClean",
      "blank"
    ],
    "pages": [
      "runs",
      "utility"
    ]
  },
  "display": [
    "drive.getHead",
    "Llight.readLight",
    "Rlight.readLight"
  ],
  "stopList": [
    "drive",
    "LMmotor",
    "RMmotor"
  ]
}
